html {
    width: 100%;
    height: 100%;
    background-image: url('images/blackRedBackground.avif');
    background-size: cover;
    /* background-position: 25% 75%; */
    /* background-position: right 35% bottom; */
    background-position: right bottom;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

.stats {
    margin: 10px 0;
    display: flex;
}

.controls {
    /* display: flex; */
    gap: 20px;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 38px;
}

body > div > h1:nth-child(2) {
    margin-top: 0;
    margin-bottom: 1.1%;
    font-size: 32px;
    /* color: #fa131a;
    -webkit-text-stroke: 0.00000000000000000000000000000001px white; */
}

#start {
    display: none;
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    /* padding: 10px 20px; */
    border: 0;
    cursor: pointer;
    font-family: 'Fascinate', cursive;
    /* font-size: 30pt; */
    margin: auto;
}

#upcoming {
    background: #000000;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}

#upcoming a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
}

#upcoming a:hover {
    color: #ff333a;
}

body > div > div > div > div.stats > div.timer {
    margin-left: auto;
}

.disabled {
    color: #757575;
}

.stats {
    color: #FFF;
    font-size: 14pt;
}

.stats p {
    margin-top: 0.7em;
    margin-left: auto;
}

.board-container {
    position: relative;
}

.board,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    background: linear-gradient(135deg,  #6e2525 0%,#900202 50%,#000000 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    border: 2px solid #000000;
    opacity: 0.92;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 130px;
    height: 130px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-front {
    background-image: url(images/logo.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #6f00fc;
}